<div class="myFooter"><span class="minPadding">&copy; Powered by BlueApeCMS</span></div>

<style>
    .myFooter {
        width: 100%;
        height: @(scale*7+"px");
        background-color: rgb(168,168,168);
        text-align: end;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #FFF;
        cursor: default;
    }

    .minPadding {
        padding-right: 15px;
        font-size: @(scale*5+"px");
    }
</style>

@code {
    [Parameter]
    public int scale { get; set; }
}
