
    <div class="navigation">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <img class="nav-link-body" width="50" height="50" src="./Assets/Icons/selectBlogWhite.png" />
                </NavLink>
            </li>
            @if (String.IsNullOrEmpty(Title) || Title == "BlueApe Template")
            { }
            else
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="@links[0]" Match="NavLinkMatch.Prefix">
                        <img class="nav-link-body fixed" width="40" height="40" src="./Assets/Icons/blogEditorWhite.png" />
                    </NavLink>
                </li>
            }
        </ul>
    </div>

<style>
    .navigation {
        width: 60px;
        height: 100vh;
        position: sticky;
        top: 0;
        background-color: #2f2f2f;
    }

    .nav-link {
        width: 50px;
        margin: 0px 5px;
        position: relative;
    }

    .nav-link-body {
        left: -2px;
        margin-left: 0;
        position: absolute;
    }
    .nav-link-body.fixed {
        left: 10px;
    }
</style>

@code {
    [Parameter]
    public string Title { get; set; }
    private List<string> links = new List<string>();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        links.Add($"/blog-designer/{Title}");
    }
}
